@use "../../styles/variables.scss" as v;

.heroSection {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 12rem;

    @media (width >= 1024px) {
      flex-direction: row;
      column-gap: 10rem;
    }
  }

  &__inner {
    display: contents;

    @media (width >= 1024px) {
      display: block;
      flex-grow: 1;
    }
  }

  &__logo {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    display: flex;
    justify-content: center;

    @media (width >= 1024px) {
      grid-column: 1 / -1;
      grid-row: 1;
      padding-bottom: 6rem;
      justify-content: flex-start;
    }
  }

  &__title {
    font-size: 2.6rem;
    color: v.$blue--900;
    text-align: center;
    padding-bottom: 1.7rem;
    order: -2;

    @media (width >= 1024px) {
      text-align: start;
      grid-column: 1 / 2;
      grid-row: 1;
      font-size: 3.8rem;
      padding-bottom: 3.2rem;
    }
  }

  &__collage {
    padding-bottom: 2.4rem;
    width: 100%;
    order: -1;

    @media (width >= 1024px) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      padding-bottom: 0;
      order: 1;
      flex-basis: 55.7692%;
      flex-shrink: 0;
    }
  }

  &__info {
    padding-inline: 2rem;
    padding-bottom: 3rem;

    @media (width >= 1024px) {
      grid-column: 1 / 2;
      grid-row: 2;
      padding-bottom: 4rem;
      padding-inline: 0;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;

    @media (width >= 1024px) {
      grid-column: 1 / 2;
      grid-row: 3;
      justify-content: start;
    }
  }

  &__comment {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    translate: 0 50%;
    z-index: 1;

    @media (width >= 1024px) {
      right: auto;
    }
  }
}
