@use "../../styles/variables.scss" as v;

.heroSection {
  padding-top: 1.4rem;
  padding-inline: 1.5rem;
  display: grid;
  justify-content: center;
  row-gap: 1.3rem;

  &__title {
    font-size: 2.2rem;
    color: v.$blue--900;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 0.4rem;

    @media (width >= 428px) {
      font-size: 2.6rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
  }
}
