@use "../../styles/variables.scss" as v;

.topBanner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 3.6rem;
  background-color: v.$beige;
  padding-block: 0.6rem;

  &__text {
    font-size: 1.1rem;
    color: v.$gray--900;
    text-wrap-style: pretty;
  }
}
