@use "../../styles/variables" as v;

.sliderArrowButton {
  display: grid;
  place-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: v.$gray--700;
  width: 4.8rem;
  aspect-ratio: 1;

  @media (hover: hover) {
    cursor: pointer;
  }
}
