@use "../../styles/variables.scss" as v;

.heroInfo {
  display: flex;
  flex-direction: column;
  row-gap: 2.6rem;

  &__item {
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
  }

  &__circle {
    width: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$beige;
    color: v.$blue--700;
  }
}
