@use "../../styles/variables" as v;

.productWorkSection {
  padding-block: 7.5rem;

  &__title {
    text-align: center;
    font-size: 2.6rem;
    color: v.$blue--700;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
  }

  &__sliderMain {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
