@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.6rem;
  max-width: 34.6rem;
  width: 100%;
  background-color: v.$light-gray--200;
  aspect-ratio: 1.0778;
  padding: 3.5rem;
  border-radius: 0.8rem;

  &_accent {
    background-color: v.$beige;
  }

  &__icon,
  &__title,
  &__text {
    flex-shrink: 0;
  }

  &__icon,
  &__title {
    color: v.$blue--700;
  }

  &__title {
    font-size: 2.2rem;
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__text {
    @include m.line-clamp();
    color: v.$gray--700;
    font-size: 1.5rem;
  }
}
