@use "../../styles/variables" as v;

.reviewsSection {
  padding-bottom: 5rem;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    width: min(100%, 61.4rem);
    padding-bottom: 3rem;
    margin-inline: auto;

    @media (width >= 1024px) {
      padding-bottom: 6rem;
    }
  }

  &__title {
    font-size: clamp(2.6rem, 4vw, 3.2rem);
    color: v.$blue--900;
  }

  &__text {
    font-size: 1.5rem;
    color: v.$gray--700;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(var(--items-count), 1fr);
    gap: 0.4rem;
    margin-bottom: 4rem;

    @media (width >= 1024px) {
      margin-bottom: 8rem;
    }
  }

  &__cell {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }
}
