//color pallete
$dark: #000000;
$light: #ffffff;

$beige: #f9f0e5;
$yellow: #ffb801;

$blue--900: #01005b;
$blue--700: #15005b;
$blue--500: #1c2e58;
$blue--400: #2a2996;

$purple: #6160d2;

$gray--900: #565656;
$gray--700: #676869;
$gray--600: #6c6c6c;
$gray--500: #828282;
$gray--400: #868787;
$gray--300: #c4c4c4;

$light-gray--400: #e2e2e2;
$light-gray--200: #ededed;
$light-gray--100: #f0eeef;
