@use "../../styles/variables" as v;

.accordionItem {
  $root: &;
  border: none;
  background-color: transparent;
  padding-inline: 0;
  font-family: inherit;
  text-align: start;
  width: 100%;
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 250ms ease;
  padding-block: 2rem;
  border-top: 0.1rem solid v.$light-gray--400;
  align-content: start;
  overflow: hidden;

  &:last-child {
    border-bottom: 0.1rem solid v.$light-gray--400;
  }

  @media (hover: hover) {
    cursor: pointer;
  }

  &_open {
    grid-template-rows: auto 1fr;

    #{$root} {
      &__decor {
        &::before {
          rotate: -180deg;
        }

        &::after {
          rotate: -90deg;
        }
      }

      &__text {
        opacity: 1;
        translate: 0 0;
        visibility: visible;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.8rem;
    color: v.$blue--900;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-wrap-style: pretty;
  }

  &__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 3rem;
    aspect-ratio: 1;
    margin-right: 2rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: v.$blue--900;
      transition: rotate 250ms ease;
    }

    &::before {
      width: 2rem;
      height: 0.2rem;
    }

    &::after {
      width: 0.2rem;
      height: 2rem;
    }
  }

  &__textBlock {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    min-height: 0;
  }

  &__text {
    display: block;
    font-size: 1.4rem;
    color: v.$gray--700;
    padding-top: 2rem;
    opacity: 0;
    translate: 0 -2rem;
    transition-property: opacity, visibility, translate;
    transition-duration: 250ms;
    transition-timing-function: ease;
    visibility: hidden;
  }
}
