@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.infoCard {
  $root: &;
  display: flex;
  gap: 1.2rem;
  flex: 0 0 33.3333%;
  align-items: center;
  text-wrap-style: balance;
  width: 100%;

  @media (width >= 1024px) {
    padding-inline: 1rem;

    &:not(:last-child) {
      border-right: 0.1rem solid rgba(v.$gray--300, 0.5);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &__description {
    @include m.line-clamp(3);
    font-size: 1.4rem;
  }

  &_default {
    flex-direction: column;
    padding-bottom: 2.4rem;
    border-bottom: 0.1rem solid rgba(v.$gray--300, 0.5);
    flex-shrink: 0;

    @media (width >= 768px) {
      border-bottom: none;

      &:not(:last-child) {
        border-right: 0.1rem solid rgba(v.$gray--300, 0.5);
      }
    }

    @media (width >= 1024px) {
      padding-bottom: 0;
      border-bottom: none;
    }

    #{$root} {
      &__icon {
        width: 4.2rem;
        background-color: v.$light-gray--400;
        color: v.$purple;

        @media (width >= 1024px) {
          color: v.$blue--400;
        }
      }

      &__title {
        font-size: 2.2rem;
        font-weight: 600;
      }

      &__title,
      &__description {
        text-align: center;
        color: v.$blue--400;

        @media (width >= 1024px) {
          color: v.$blue--700;
        }
      }
    }
  }

  &_minimal {
    &:not(:last-child) {
      border-right: 0.1rem solid rgba(v.$gray--300, 0.5);
    }

    #{$root} {
      &__icon {
        width: 3.3rem;
        background-color: rgba(v.$gray--800, 0.1);
        color: v.$gray--700;
        padding: 0.5rem;
      }

      &__description {
        color: v.$gray--700;
      }
    }
  }
}
