.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 20rem;
  height: 3.5rem;
  position: relative;
  z-index: 20;

  &__img {
    display: block;
    width: 100%;
  }
}
