@use "/src/styles/variables.scss" as v;
@use "/src/styles/mixins" as m;

.comment {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: min-content 1fr min-content;
  column-gap: 0.8rem;
  max-width: 41.6rem;
  padding: 1.2rem;
  background-color: v.$light;
  border: 0.1rem solid v.$light-gray--200;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1rem 0.1rem rgba(v.$dark, 0.08);

  @media (width >= 1024px) {
    grid-template-columns: min-content auto min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    padding-block: 1.6rem;
    padding-inline: 2rem;
    align-items: center;
  }

  &__avatar {
    width: 3.9rem;
    aspect-ratio: 1;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    overflow: hidden;
    margin-right: 0.5rem;

    @media (width >= 1024px) {
      grid-row: 1;
      grid-column: 1;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__rating {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    font-size: 1.1rem;
    height: 1lh;

    @media (width >= 1024px) {
      grid-row: 1;
      grid-column: 3;
    }
  }

  &__title {
    @include m.line-clamp;
    grid-column: 3;
    grid-row: 1 / span 2;
    font-size: 1.1rem;
    color: v.$gray--500;
    align-self: start;

    @media (width >= 1024px) {
      grid-row: 1;
      grid-column: 4;
    }
  }

  &__name {
    grid-column: 2;
    grid-row: 2;
    font-size: 1.5rem;
    letter-spacing: 0.03em;
    color: v.$gray--700;

    @media (width >= 1024px) {
      grid-row: 1;
      grid-column: 2;
    }
  }

  &__text {
    @include m.line-clamp(4);
    grid-column: 1 / -1;
    grid-row: -2;
    font-size: 1.2rem;
    color: v.$gray--700;
    padding-top: 1.2rem;
    user-select: none;
  }
}
