@use "../../styles/variables" as v;

.logoSlider {
  &__dots {
    display: flex !important;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    li > button {
      position: relative;
      display: block;
      width: 0.8rem;
      aspect-ratio: 1;
      background-color: v.$gray--300;
      border-radius: 50%;
      border: none;
      padding: 0;
      font-size: 0;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 1.8rem;
        aspect-ratio: 1;
      }

      @media (hover: hover) {
        cursor: pointer;
      }
    }
  }

  &__slide {
    padding-inline: 1rem;
    height: 3.4rem;
  }

  &__img {
    display: block;
    width: min(100%, 16rem);
    height: 100%;
    object-fit: contain;
    margin-inline: auto;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
  }
}

:global(li.slick-active > button) {
  background-color: v.$dark;
}
