@use "../../styles/variables" as v;

.paginationButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  border: none;
  width: 2.2rem;
  aspect-ratio: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 0 0.2rem v.$light;
    scale: 0;
    transition: scale 200ms ease;
    pointer-events: none;
  }

  @media (hover: hover) {
    cursor: pointer;
  }

  @media (width >= 1024px) {
    width: 3.2rem;
  }

  &_active {
    &::before {
      scale: 1;
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
