@use "../../styles/variables.scss" as v;

$gap: 0.4rem;

.collage {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 22rem;
  column-gap: $gap;
}

.collageDecor {
  width: 5rem;
  height: 10rem;
  background-color: v.$beige;

  &:first-child {
    margin-right: -$gap;
    translate: 50%;
  }
  &:last-child {
    margin-left: -$gap;
    translate: -50%;
  }

  @media (width >= 428px) {
    width: 7rem;
  }

  @media (width >= 768px) {
    width: 10rem;
    height: 14.5rem;
  }

  @media (width >= 1024px) {
    width: 13.4rem;
    height: 19rem;
  }
}

.collageItem {
  position: relative;
  height: 22rem;
  width: 10rem;
  z-index: 1;

  &:nth-child(2),
  &:nth-child(4) {
    height: 16.6rem;
    width: 8.6rem;
    width: 6rem;
  }

  @media (width >= 428px) {
    width: 13.6rem;

    &:nth-child(2),
    &:nth-child(4) {
      width: 8.6rem;
    }
  }

  @media (width >= 768px) {
    width: 19rem;
    height: 32rem;

    &:nth-child(2),
    &:nth-child(4) {
      width: 15.5rem;
      height: 24rem;
    }
  }

  @media (width >= 1024px) {
    width: 26rem;
    height: 42.2rem;

    &:nth-child(2),
    &:nth-child(4) {
      width: 21rem;
      height: 31.6rem;
    }
  }
}

.collageDecor,
.collageItem {
  flex-shrink: 0;
}

.collageImg {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
