@use "../../styles/variables.scss" as v;

$gap: 0.4rem;

.collage {
  $root: &;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 35.8621% 1fr;
  grid-template-rows: 100%;
  column-gap: 0.5rem;
  aspect-ratio: 1.7181;

  &__item {
    height: 100%;

    &:first-child,
    &:last-child {
      display: grid;
      align-items: center;

      &::before {
        content: "";
        background-color: v.$beige;
        height: 45%;
        grid-row: 1;
      }

      #{$root}__img {
        height: 75%;
        grid-row: 1;
      }
    }

    &:first-child {
      grid-template-columns: 1fr 70.0421%;

      #{$root}__img {
        grid-column: 2;
      }
    }

    &:last-child {
      grid-template-columns: 70.0421% 1fr;

      &::before {
        grid-column: 2;
      }

      #{$root} {
        &__img {
          object-position: left;

          @media (width >= 1024px) {
            object-position: center;
          }
        }
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
