@use "../../styles/variables" as v;

.aboutSection {
  background-color: v.$light-gray--100;
  padding-block: 4rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 1.8rem;
    row-gap: 4rem;

    @media (width >= 1024px) {
      padding-inline: 0;
      flex-direction: row;
      column-gap: 10rem;
    }
  }

  &__content {
    display: contents;

    @media (width >= 1024px) {
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
    }
  }

  &__title {
    font-size: 2.6rem;
    text-align: center;
    color: v.$blue--400;
    order: -1;

    @media (width >= 1024px) {
      text-align: start;
      font-size: 3.2rem;
      order: 0;
    }
  }

  &__gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 54rem;
    aspect-ratio: 1;
    margin-inline: auto;
    flex-shrink: 0;

    img {
      display: block;
      width: 70%;
      height: 90%;
      object-fit: cover;
    }
  }

  &__item {
    position: absolute;
    width: 32%;
    aspect-ratio: 1;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin-inline: auto;
      border: 0.4rem solid v.$light-gray--100;
    }

    &:first-child {
      top: 0;
      left: 15%;
      translate: -50%;
    }

    &:last-child {
      bottom: 0;
      right: 15%;
      translate: 50%;
    }
  }

  &__text {
    color: v.$gray--600;
    font-size: 1.5rem;
    white-space: pre-line;
  }

  &__btn {
    display: none;

    @media (width >= 1024px) {
      display: block;
    }
  }
}
