@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.footer {
  padding-block: 5rem;
  background-image: linear-gradient(
    to top,
    v.$beige,
    rgba(v.$beige, 0.43) 18%,
    v.$light
  );

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
    width: min(100%, 66rem);
  }

  &__collage {
    width: min(100%, 82rem);
  }

  &__title {
    font-size: clamp(2.6rem, 4vw, 3.2rem);
    color: v.$blue--900;
  }

  &__text {
    font-size: 1.5rem;
    color: v.$gray--700;
    text-wrap-style: balance;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
  }

  &__actions {
    width: min(100%, 38rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: min(100%, 66rem);
  }

  &__infoContent {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: v.$green;
    width: min(100%, 11rem);
  }

  &__infoIcon {
    flex-shrink: 0;
  }

  &__infoText {
    @include m.line-clamp(3);
    font-size: 1rem;
  }

  &__infoPicture {
    width: 24.3rem;
    height: 2.2rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  &__cardsWrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: min(100%, 66rem);
  }
}
