@use "../../styles/variables" as v;

.slider {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 100%;

  &__main {
    grid-column: 2;
    grid-row: 1;
    height: 45rem;

    @media (width >= 1024px) {
      height: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    grid-row: 1;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: v.$gray--700;
    transition: color 200ms ease;

    @media (hover: hover) {
      cursor: pointer;

      &:hover {
        color: v.$dark;
      }
    }

    &_prev {
      grid-column: 1;
    }

    &_next {
      grid-column: 3;
    }

    @media (width >= 426px) {
      padding-inline: 1.5rem;
    }
  }

  &__pagintation {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    height: fit-content;
    align-self: end;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
